.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 9999;
  overflow: auto;
  padding: 20px;
}
th.fontsizetest{
  font-size: 11px !important;
    padding: 4px !important;
}
td.coustomclass{
  font-size: 10px !important;
  padding: 0px 0px !important;
}
.dx-datagrid .dx-row>td{
  padding: 1px !important;
}
